---
layout: default
title: samples
---
<h1>{{ page.title }}</h1>
<h2>Fictional Science</h2>
<h3>doot</h3>
<ul class="samples">
	  {% for sample in site.categories.samples %}
	<p> lalalala </p>
	    <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{ sample.title }}</a></li>
	  {% endfor %}
</ul>

<h2>Science Communication</h2>
<ul class="samples">
	  {% for sample in site.categories.samples %}
	    <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{ sample.title }}</a></li>
	  {% endfor %}
</ul>
<h2>Test</h2>
<ul class="samples">
	  {% for sample in site.categories.blog %}
	    <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{ sample.title }}</a></li>
	  {% endfor %}
</ul>
