---
layout: default
title: samples
---
<h1>{{ page.title }}</h1>
<h2>Fictional Science</h2>
<h2>beep</h2>
<ul class="samples">
	  {% for sample in site.posts %}
{% comment %}	  {% if post.posttype and post.posttype contains 'sample' and post.posttype contains 'ficsci' %} {% endcomment %}
	    <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{ sample.title }}</a></li>
		    {% for type in sample.posttype %} <p> {{ type }} </p>
		    {% endfor %}
{% comment %}      {% endif %} {% endcomment %}
	  {% endfor %}
</ul>

<h2>Science Communication</h2>
<ul class="samples">
	  {% for sample in site.posts %}
	    <li><span> <a href="{{ sample.url }}" title="{{ sample.title }}">{{ sample.title }}</a></li>
	  {% endfor %}
</ul>

